    <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>404</title>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="icon" href="/web-server/public/img/weather.png">
        </head>
        <body>

            <div class="main-content">
                {{!-- hbs.registerPartials() --}}
                {{>header}}

                <p> {{message}} </p>
            </div>
            


            {{!-- hbs.registerPartials() --}}
            {{>footer}}

        </body>
        </html>



    